<a href="https://colab.research.google.com/github/aysealemdar/DataScience/blob/master/Copy_of_Random_Forest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Challenge Customer Analytics**

Random Forest

In [0]:
import csv
import pandas as pd
from sklearn.ensemble import RandomForestRegressor 
import numpy as np
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn import metrics

1. Load Data
- Verbindung zu Google Drive wird erstellt, so dass auf die abgelegte Datenset zugegriffen werden kann 
- Danach wird CSV eingelesen und ausgegeben

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
train_data = pd.read_csv('/content/drive/My Drive/Customer Analytics/Datensätze/clean_train_daily.csv', sep=";",
                 header=None,
                 names=['Datum', 'Jahr', 'Monat','TagMonat', 'Kalenderwoche', 'Tag', 'Tagesnummer',
                        'Lokaler Feiertag', 'FeiertagID', 'Temperatur', 'Windgeschwindigkeit', 
                        'Feuchtigkeit', 'Schneefall', 'Niederschlag', 'Sonnenminuten', 'Schulferien', 
                        'FerienID', 'Umsatz'])
train_data = train_data.drop(train_data.index[[0]])
train_data.head()

        Datum  Jahr Monat  ...         Schulferien FerienID      Umsatz
1  02.01.2017  2017     1  ...  Christmas holidays        1  8275.69157
2  03.01.2017  2017     1  ...  Christmas holidays        1  3915.02667
3  04.01.2017  2017     1  ...  Christmas holidays        1    2195.397
4  05.01.2017  2017     1  ...  Christmas holidays        1  2272.40105
5  06.01.2017  2017     1  ...  Christmas holidays        1  4914.95375

[5 rows x 18 columns]

2. DataFrame
- DataFrame erstellen damit Random Forest ausgeführt werden kann
- Alle Features, welche nit numerisch sind müssen entfernt werden. Random Forest kann damit nicht umgehen.

In [0]:
df=pd.DataFrame(train_data)
df.head()
df.drop('Tag', axis=1, inplace=True)
df.drop('Schulferien', axis=1, inplace=True)
df.drop('Datum', axis=1, inplace=True)
df.drop('Lokaler Feiertag', axis=1, inplace=True)
df.head()

   Jahr Monat TagMonat  ... Sonnenminuten FerienID      Umsatz
1  2017     1        2  ...           188        1  8275.69157
2  2017     1        3  ...           390        1  3915.02667
3  2017     1        4  ...             0        1    2195.397
4  2017     1        5  ...           275        1  2272.40105
5  2017     1        6  ...           522        1  4914.95375

[5 rows x 14 columns]

In [0]:
print(df.iat[104,4])
type(df.iat[104,4])

7

str

3. Create test and train data
- mit 0:13 geben wir an was die Werte sind und 13 ist der Index für den Label also Umsatz.
- mit x und y definieren wir die variablen und den Label

In [0]:
X = df.iloc[:, 0:13].values
y = df.iloc[:, 13].values

- Unterteilung der Daten in Trainings- und Testdaten dabei nehmen wir 0.2 also 20% für den Test der Rest ist Training.

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

4. Build Random Forest Model
- n_estimators ist ein Parameter der Anzahl Decision Trees festlegt, die gebaut werden sollen. 
- random_state ist der Seed der festgelegt wird
- danach wird Model ausgeführt

In [0]:
regressor = RandomForestRegressor(n_estimators=20, random_state=0)
regressor.fit(X_train, y_train)

5. Predict
- Prediction von Test Labels

In [0]:
y_pred = regressor.predict(X_test)

6. Metrics & Results

In [0]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 1977.2161501146788
Mean Squared Error: 6827718.558019126
Root Mean Squared Error: 2612.9903478618376

In [0]:
#source:https://www.youtube.com/watch?v=ok2s1vV9XW0
#train_data in Test und Train teilen 80% train und 20% test
#X sind unabhängige Variablen die Umsatz beinhalten,deswegen löschen wir Umsatz Spalte und bei Y sage ich es Zielvariable ist 'Umsatz'
X_train, X_test, y_train, y_test = train_test_split(df.drop(['Umsatz'],axis='columns'),df.Umsatz,test_size=0.2)

In [0]:
#Nachprüfen, wie viele Daten in Train und Test sind.
print("train: "+str(len(X_train)))
print("test: "+str(len(X_test)))

train: 869
test: 218

In [0]:
#https://www.geeksforgeeks.org/random-forest-regression-in-python/
regressor = RandomForestRegressor(n_estimators = 100, random_state = 0) 
regressor.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [0]:
#1. Random Forest aufbauen
#The n_estimators parameter defines the number of trees in the random forest. 
#The random_state parameter is the seed used by the random number.
#if you call this with random_state=0 (or any other value), then each and every time, you’ll get the same result generator.
regressor_02 = RandomForestRegressor(n_estimators = 200, random_state = 0) 

#fit Trainingsdata 
regressor_02.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=200, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [0]:
regressor_02.score(X_test,y_test)

0.8412599928533626

In [0]:
#Modell aufstellen
regressor_03 = RandomForestRegressor(n_estimators = 50, random_state = 0) 

#fit Trainingsdata 
regressor_03.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=50, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [0]:
#Ergebnisse vom Modell Regressor_03
regressor_03.score(X_test,y_test)

0.840206055327155

In [0]:
#Mit den für Test gesplitteten Datensätzen prediction machen
y_pred = regressor_03.predict(X_test)
y_pred

array([17427.4306314,  7858.551473 ,  6262.2520104,  4995.409424 ,
       17107.9043764, 10491.4658642, 20000.5102312, 17515.1163062,
       10125.6435604,  7906.9242286,  9813.0636104, 11680.8473846,
        2833.4919644,  9955.2044478, 18981.53788  , 12062.4077178,
       12370.189502 , 11299.8494346, 17743.772118 , 12114.8528324,
        6460.4850864, 11067.449285 ,  4273.034077 , 10821.2829062,
       14811.9898676,  8198.4281914,  7609.8415696,  7138.0908318,
        9348.096554 ,  6195.9741594, 16877.7946252,  8410.582175 ,
        8362.3706434,  7065.6544058,  7184.8389954,  7105.3370784,
       18333.7761106, 15635.868405 , 11624.6009134,  6083.6913868,
       11494.1548864, 14002.1744972, 19538.2749686, 14912.7612776,
        8469.2924088, 10955.6307936, 19151.6828082,  7385.9329844,
        7316.9339474, 19296.5128458, 15839.259726 ,  6940.4972518,
       19029.9569852, 18929.7400292, 18476.980797 , 12689.5328266,
       10175.5910316, 10137.818246 ,  6680.6916026, 19603.6769032,
       14614.2190966,  4948.7172846, 16433.2436646, 15172.1059018,
        6823.8549442,  9825.2475118,  5805.8584464, 18748.2753372,
       14800.4936318,  7194.622768 , 25121.1698958, 14604.9707202,
       12728.7904008,  6422.9625324,  4599.2199734, 13014.6656212,
       17974.969489 ,  8788.9778654,  8275.3751304, 16803.1180428,
        5164.6534174, 16497.1296806, 13762.708508 ,  6633.2928202,
       14515.5888808,  6743.7764152,  6335.533308 ,  3325.4048702,
       15997.5893208, 17799.1419246,  6318.237468 ,  4081.2879786,
       10421.7461128,  4573.3174258,  6263.352537 ,  9134.7925992,
        7512.0311476, 10429.2165218, 14674.926873 , 13754.7274926,
        5650.3464532, 16365.5909848,  5716.1164252, 22052.7405568,
       19905.5091444, 15487.546703 ,  7425.0389598,  7814.8730304,
        3931.5613192,  5077.5746538, 10621.5333816,  8636.010443 ,
        6258.0356766,  6380.4696704, 20893.0826628,  6086.1086744,
       22145.285906 , 16374.7310938, 11009.6794744, 13965.5157266,
       12754.9894674,  5584.8455574,  7878.7271336,  8928.2843724,
        8219.6455178, 14346.4334688, 20780.3549086, 18446.331009 ,
       11827.4487808, 15146.105162 ,  6302.3441908, 16228.9168272,
       17292.1525218, 11463.7636256,  3891.5190398, 16875.1739142,
        8745.9136188, 12603.2308256, 10825.8785668,  5154.9033132,
        3212.666522 ,  9037.6186738,  3561.6154332,  3562.7810048,
       22969.5983278,  3775.391815 , 19908.338174 , 14950.3573072,
        3248.4844564, 15324.5291382, 15566.409091 , 24245.7846726,
       17805.0933224,  7501.02647  , 14518.7320784, 14245.4209946,
       19345.4076336,  6812.3821756, 13358.0713218,  4883.6519116,
        4205.5205812,  4315.1343558,  3559.8500538, 17006.3968832,
       20992.916821 ,  3638.7848126,  4931.9537636,  4970.4385758,
        4928.4544536,  6577.1874504,  4869.3004328, 20695.7470486,
        5334.293771 ,  3766.931413 ,  5075.920342 , 14431.6391544,
        2996.6125808, 22035.0884308, 20541.6461366,  6248.5831234,
       14839.7399376,  4759.8058786,  4926.3820064,  4215.4533086,
        3514.9273922, 14392.9198938, 12374.9083662,  8778.6697778,
       14956.219104 ,  3005.7306172,  6350.0653338, 24418.7902794,
       11975.0909162, 12365.16003  , 10250.13272  ,  5821.4466424,
        6856.7999054,  9353.445021 ,  3585.231089 , 15598.7475062,
       15625.3419498, 13341.6523292, 17375.073331 , 16915.716092 ,
        4845.6082688,  8775.8925664,  9505.907685 ,  9723.0638924,
        5817.6203162,  9253.751249 , 15891.5305952, 17636.4752072,
        3505.479385 , 20465.7014956,  3309.4027778,  3393.5694602,
        4050.9887404,  3504.9434322])

In [0]:
regressor_02.score(X_test,y_pred)

0.996741426877316

In [0]:
#print out the Mean Absolute Error
print('Mean Absolute Error:', mean_squared_error(y_test, y_pred))

Mean Absolute Error: 6448685.250970167
ERROR! Session/line number was not unique in database. History logging moved to new session 61

In [0]:
#MSE berechnen
mse=mean_squared_error(y_test, y_pred))
rmse=np.sqrt(mse))
rmse
mse
print('Mean Absolute Error:', mean_squared_error(y_test, y_pred))

SyntaxError: ignored

ERROR! Session/line number was not unique in database. History logging moved to new session 60

In [0]:
test_data = pd.read_csv('/content/drive/My Drive/Customer Analytics/Datensätze/test_daily.csv', sep=";",
                 header=None,
                 names=['Datum', 'Jahr', 'Monat','TagMonat', 'Kalenderwoche', 'Tag', 'Tagesnummer',
                        'Lokaler Feiertag', 'FeiertagID', 'Temperatur', 'Windgeschwindigkeit', 
                        'Feuchtigkeit', 'Schneefall', 'Niederschlag', 'Sonnenminuten', 'Schulferien', 
                        'FerienID'])
test_data = test_data.drop(test_data.index[[0]])
test_data.head()

In [0]:
df2=pd.DataFrame(test_data)
df2.head()

In [0]:
i=1
pd.DataFrame(df2, index=[i])

In [0]:
df2['Umsatz']=0

In [0]:
i=1
while i >len(test_data):
  prediction= regressor.predict(pd.DataFrame(df2, index=[i]))
  i=i+1
  df2['Umsatz']=prediction
  pd.DataFrame(df2, index=[i])